.board{
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100%;
}
.board_top{
    display: flex;
}
.board_top_left{
    flex: 0.85;
    display: flex;
    align-items: center;
    gap: 8px;
}
.board_top_left > .MuiSvgIcon-root{
    height: 18px;
    width: 18px;
}
.board_top_right > .MuiSvgIcon-root{
    height: 18px;
    width: 18px;
    color: gray;
}
.board_top_right{
    flex: 0.15;
    display: flex;
    align-items: flex-end;
}