.profilePicture{
    display: flex;
    margin-left: 50px;
}

.status-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .online {
    background-color: green;
  }
  
  .offline {
    background-color: red;
  }