.app{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f8;
}
.app_navbar{
  width: 100%;
  background-color: white;
  padding: 20px 30px;
}
.app_outer{
  flex: 1;
  overflow-x: scroll;
  width: 100%;
}
.app_board{
  padding: 20px 30px;
  display: flex;
  min-width: fit-content;
  height: 100%;
  gap: 30px;
}